

<h1>Add a new book to the <%= @genre.name %> section- BOOK NEW VIEW</h1>

<%= render "form", booke: @book %>
<p id="notice"><%= notice %></p>
<br>

<div>
  <%= link_to "Back to genres", genre_books_path %>
</div>


