<div id="<%= dom_id genre %>">
  <p>
    <strong>Name:</strong>
    <%= genre.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= genre.description %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= genre.location %>
  </p>

</div>
