<h1>EDIT GENRE</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-6"> 
      <br />  
      <p class="headingtext">EDIT GENRE</p>
      <div class="centredisplay">
        <%= render "form", genre: @genre %>
        <br />
        
        <%= link_to "BACK TO FULL CATALOGUE", genres_path, class: "btn btn-outline-dark btn-sm" %>
      </div>    
    <div>
    <div class="col-lg-3">
    </div>
  </div>
</div>








